{{range .Investments}}
    <div style="width: 100%; overflow: hidden;">
        <div style="width: 660px; float: left;">
            <img width="655px" src="{{.PathImg}}" />
        </div>
        <div width="655px"  style="margin-left: 680px;">
            <h3 style="margin-bottom: 0; padding-left:50px;">{{.CurrencyName}}</h3>
            <h5 style="margin-bottom: 0px">property</h5>
            <ul>
                <li>details 1</li>
                <li>details 2</li>
                <li>details 3</li>
            </ul>
        </div>
    </div>
{{end}}